body {
    background-color: #f0f0f0;
}

footer {
    background-color: #e6e6e6;
}

header {
    background-color: #225d99;
}

a {
    transition: transform 0.3s ease; /* Transición suave para la transformación */
}

/* Estilos para el hover en los enlaces */
a:hover {
    transform: scale(1.1); /* Aumenta el tamaño del enlace en un 10% */
}

.whatsapp {
    margin-left: 5px;
    color: black;
    padding: 7px;
    height: 45px;
    border-radius: 5px;
    background-color: #25d366;
}

/* Estilos para el botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 25px; /* Ajusta la posición vertical según sea necesario */
    right: 25px; /* Ajusta la posición horizontal según sea necesario */
    background-color: #25d366; /* Color de fondo de WhatsApp */
    color: #fff; /* Color del texto */
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    z-index: 9999; /* Asegura que el botón esté en la parte superior de otros elementos */
}

/* Estilos para la imagen del ícono de WhatsApp (puedes usar tu propia imagen) */
.whatsapp-button img {
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}
